/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
body {
  background: black;
  font-family: 'Varela', sans-serif;
  color: white;
}

/* line 29, ../sass/screen.scss */
h1 {
  z-index: 50;
  margin: 125px 0 0 125px;
  font-size: 12em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
@media screen and (max-width: 800px) {
  /* line 29, ../sass/screen.scss */
  h1 {
    font-size: 3em !important;
  }
}

/* line 44, ../sass/screen.scss */
a {
  color: white;
  font-size: 3em;
}
/* line 48, ../sass/screen.scss */
a:hover {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/* line 55, ../sass/screen.scss */
#landing-content {
  margin-top: 10vh;
}

/* line 59, ../sass/screen.scss */
#header h1 {
  font-size: 9.25em;
}

/* line 63, ../sass/screen.scss */
#header p {
  color: white;
}

/* line 67, ../sass/screen.scss */
#center-buttons button {
  background-color: transparent;
}

/* line 72, ../sass/screen.scss */
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}
/* line 81, ../sass/screen.scss */
.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 50%;
  left: 0;
}
/* line 94, ../sass/screen.scss */
.hr:before {
  background: linear-gradient(90deg, #000000 0%, #000000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: 15px;
  background-position: center;
  z-index: 1;
}
/* line 103, ../sass/screen.scss */
.hr:after {
  transition: opacity 0.3s ease, animation 0.3s ease;
  background: white;
  background-size: 200%;
  background-position: 0%;
  animation: bar 15s linear infinite;
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
/* line 122, ../sass/screen.scss */
.hr.anim:before {
  background: linear-gradient(90deg, #000000 0%, #000000 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 10%, #000000 10%, #000000 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 20%, #000000 20%, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 30%, #000000 30%, #000000 35%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 40%, #000000 40%, #000000 45%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 60%, #000000 60%, #000000 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, #000000 70%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 80%, #000000 80%, #000000 85%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 90%, #000000 90%, #000000 95%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  animation: bar 120s linear infinite;
}

/* line 155, ../sass/screen.scss */
.full-screen {
  max-height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 162, ../sass/screen.scss */
.logo {
  position: fixed;
  z-index: 1000;
  left: 20px;
  top: 7px;
}

/* line 169, ../sass/screen.scss */
.burger {
  position: fixed;
  z-index: 1000;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 179, ../sass/screen.scss */
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 186, ../sass/screen.scss */
.burger__patty:last-child {
  margin-bottom: 0;
}
/* line 192, ../sass/screen.scss */
.burger--close {
  transform: rotate(180deg);
}
/* line 196, ../sass/screen.scss */
.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
/* line 199, ../sass/screen.scss */
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
/* line 202, ../sass/screen.scss */
.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}

@media screen and (min-width: 768px) {
  /* line 211, ../sass/screen.scss */
  .burger {
    display: none;
  }

  /* line 214, ../sass/screen.scss */
  .logo {
    display: none;
  }
}
/* line 219, ../sass/screen.scss */
.navbar-default {
  position: fixed;
  z-index: 1337;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-bottom: 1px solid white;
}

/* line 229, ../sass/screen.scss */
.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  visibility: hidden;
}
/* line 236, ../sass/screen.scss */
.menu--active {
  visibility: visible;
}
/* line 240, ../sass/screen.scss */
.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 252, ../sass/screen.scss */
.menu__list {
  margin: 0;
  padding: 0;
  background: black;
  list-style-type: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 260, ../sass/screen.scss */
.menu__list--active {
  transform: translate3d(0, 0, 0);
}
/* line 265, ../sass/screen.scss */
.menu__item {
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 268, ../sass/screen.scss */
.menu__item--active {
  transform: translate3d(0, 0, 0);
}
/* line 273, ../sass/screen.scss */
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 3em;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 284, ../sass/screen.scss */
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 297, ../sass/screen.scss */
.menu__link:hover:before {
  width: 100%;
}
/* line 305, ../sass/screen.scss */
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
/* line 305, ../sass/screen.scss */
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
/* line 305, ../sass/screen.scss */
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
/* line 305, ../sass/screen.scss */
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
/* line 305, ../sass/screen.scss */
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
/* line 305, ../sass/screen.scss */
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  /* line 313, ../sass/screen.scss */
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  /* line 319, ../sass/screen.scss */
  ul.menu__list--active,
  div.menu__brand--active {
    transform: translate3d(0, 0, 0);
  }

  /* line 324, ../sass/screen.scss */
  .menu__list {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
  }

  /* line 329, ../sass/screen.scss */
  .menu__link {
    font-size: 24px;
  }

  /* line 333, ../sass/screen.scss */
  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  /* line 337, ../sass/screen.scss */
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}
/* line 346, ../sass/screen.scss */
.glitch {
  font-size: 175px;
  width: 375px;
  margin: 0px 50vw 0 auto;
  position: relative;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@keyframes noise-anim {
  0% {
    clip: rect(12px, 9999px, 32px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 96px, 0);
  }
  10% {
    clip: rect(38px, 9999px, 172px, 0);
  }
  15% {
    clip: rect(200px, 9999px, 44px, 0);
  }
  20% {
    clip: rect(167px, 9999px, 53px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 86px, 0);
  }
  30% {
    clip: rect(37px, 9999px, 145px, 0);
  }
  35% {
    clip: rect(62px, 9999px, 114px, 0);
  }
  40% {
    clip: rect(69px, 9999px, 91px, 0);
  }
  45% {
    clip: rect(24px, 9999px, 74px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 141px, 0);
  }
  55% {
    clip: rect(198px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(48px, 9999px, 9px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 191px, 0);
  }
  70% {
    clip: rect(186px, 9999px, 167px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 150px, 0);
  }
  80% {
    clip: rect(30px, 9999px, 18px, 0);
  }
  85% {
    clip: rect(155px, 9999px, 144px, 0);
  }
  90% {
    clip: rect(128px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(80px, 9999px, 60px, 0);
  }
  100% {
    clip: rect(132px, 9999px, 172px, 0);
  }
}
/* line 364, ../sass/screen.scss */
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  text-shadow: -1px 0 blue;
  top: 0;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(25px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(56px, 9999px, 141px, 0);
  }
  10% {
    clip: rect(77px, 9999px, 13px, 0);
  }
  15% {
    clip: rect(145px, 9999px, 176px, 0);
  }
  20% {
    clip: rect(50px, 9999px, 161px, 0);
  }
  25% {
    clip: rect(13px, 9999px, 110px, 0);
  }
  30% {
    clip: rect(132px, 9999px, 35px, 0);
  }
  35% {
    clip: rect(29px, 9999px, 5px, 0);
  }
  40% {
    clip: rect(39px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(198px, 9999px, 67px, 0);
  }
  50% {
    clip: rect(59px, 9999px, 106px, 0);
  }
  55% {
    clip: rect(3px, 9999px, 168px, 0);
  }
  60% {
    clip: rect(107px, 9999px, 94px, 0);
  }
  65% {
    clip: rect(100px, 9999px, 38px, 0);
  }
  70% {
    clip: rect(73px, 9999px, 176px, 0);
  }
  75% {
    clip: rect(28px, 9999px, 196px, 0);
  }
  80% {
    clip: rect(136px, 9999px, 178px, 0);
  }
  85% {
    clip: rect(180px, 9999px, 44px, 0);
  }
  90% {
    clip: rect(80px, 9999px, 1px, 0);
  }
  95% {
    clip: rect(170px, 9999px, 82px, 0);
  }
  100% {
    clip: rect(199px, 9999px, 130px, 0);
  }
}
/* line 387, ../sass/screen.scss */
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -4px;
  text-shadow: 1px 0 red;
  top: 0;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@media screen and (max-width: 768px) {
  /* line 403, ../sass/screen.scss */
  .glitch {
    font-size: 80px;
    width: 350px;
    margin: 0 auto;
  }

  /* line 409, ../sass/screen.scss */
  .navbar-default {
    display: none;
  }

  /* line 413, ../sass/screen.scss */
  .cust-quotes blockquote p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 325px) {
  /* line 419, ../sass/screen.scss */
  .glitch {
    font-size: 75px;
    width: 350px;
    margin: 0 auto;
  }
}
/* line 426, ../sass/screen.scss */
.smalltext {
  padding-right: 10px;
  font-size: 1.5em;
}
