/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
body {
  background: black;
  font-family: 'Varela', sans-serif;
  color: white;
}

/* line 29, ../sass/screen.scss */
h1 {
  z-index: 50;
  margin: 125px 0 0 125px;
  font-size: 12em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
@media screen and (max-width: 800px) {
  /* line 29, ../sass/screen.scss */
  h1 {
    font-size: 3em !important;
  }
}

/* line 44, ../sass/screen.scss */
a {
  color: white;
  font-size: 3em;
}
/* line 48, ../sass/screen.scss */
a:hover {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
/* line 54, ../sass/screen.scss */
a:focus {
  color: white;
  text-decoration: none;
  outline: none;
}

/* line 61, ../sass/screen.scss */
#landing-content {
  margin-top: 10vh;
}

/* line 65, ../sass/screen.scss */
#header h1 {
  font-size: 9.25em;
}

/* line 69, ../sass/screen.scss */
#header p {
  color: white;
}

/* line 73, ../sass/screen.scss */
#center-buttons button {
  background-color: transparent;
}

/* line 78, ../sass/screen.scss */
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}
/* line 87, ../sass/screen.scss */
.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 50%;
  left: 0;
}
/* line 100, ../sass/screen.scss */
.hr:before {
  background: linear-gradient(90deg, #000000 0%, #000000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: 15px;
  background-position: center;
  z-index: 1;
}
/* line 109, ../sass/screen.scss */
.hr:after {
  transition: opacity 0.3s ease, animation 0.3s ease;
  background: white;
  background-size: 200%;
  background-position: 0%;
  animation: bar 15s linear infinite;
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
/* line 128, ../sass/screen.scss */
.hr.anim:before {
  background: linear-gradient(90deg, #000000 0%, #000000 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 10%, #000000 10%, #000000 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 20%, #000000 20%, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 30%, #000000 30%, #000000 35%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 40%, #000000 40%, #000000 45%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 60%, #000000 60%, #000000 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, #000000 70%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 80%, #000000 80%, #000000 85%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 90%, #000000 90%, #000000 95%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  animation: bar 120s linear infinite;
}

/* line 161, ../sass/screen.scss */
.full-screen {
  max-height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 168, ../sass/screen.scss */
.logo {
  position: fixed;
  z-index: 1000;
  left: 20px;
  top: 7px;
  width: 25vw;
}

/* line 176, ../sass/screen.scss */
.burger {
  position: fixed;
  z-index: 1000;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 186, ../sass/screen.scss */
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 193, ../sass/screen.scss */
.burger__patty:last-child {
  margin-bottom: 0;
}
/* line 199, ../sass/screen.scss */
.burger--close {
  transform: rotate(180deg);
}
/* line 203, ../sass/screen.scss */
.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
/* line 206, ../sass/screen.scss */
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
/* line 209, ../sass/screen.scss */
.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}

@media screen and (min-width: 768px) {
  /* line 218, ../sass/screen.scss */
  .burger {
    display: none;
  }

  /* line 221, ../sass/screen.scss */
  .logo {
    display: none;
  }
}
/* line 226, ../sass/screen.scss */
.navbar-default {
  position: fixed;
  z-index: 1337;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-bottom: 1px solid white;
}

/* line 236, ../sass/screen.scss */
.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  visibility: hidden;
}
/* line 243, ../sass/screen.scss */
.menu--active {
  visibility: visible;
}
/* line 247, ../sass/screen.scss */
.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 259, ../sass/screen.scss */
.menu__list {
  margin: 0;
  padding: 0;
  background: black;
  list-style-type: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 267, ../sass/screen.scss */
.menu__list--active {
  transform: translate3d(0, 0, 0);
}
/* line 272, ../sass/screen.scss */
.menu__item {
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 275, ../sass/screen.scss */
.menu__item--active {
  transform: translate3d(0, 0, 0);
}
/* line 280, ../sass/screen.scss */
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 3em;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 291, ../sass/screen.scss */
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 304, ../sass/screen.scss */
.menu__link:hover:before {
  width: 100%;
}
/* line 309, ../sass/screen.scss */
.menu__link:active {
  text-decoration: none;
}
/* line 317, ../sass/screen.scss */
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
/* line 317, ../sass/screen.scss */
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
/* line 317, ../sass/screen.scss */
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
/* line 317, ../sass/screen.scss */
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
/* line 317, ../sass/screen.scss */
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
/* line 317, ../sass/screen.scss */
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}

/* line 324, ../sass/screen.scss */
.current:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 331, ../sass/screen.scss */
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  /* line 337, ../sass/screen.scss */
  ul.menu__list--active,
  div.menu__brand--active {
    transform: translate3d(0, 0, 0);
  }

  /* line 342, ../sass/screen.scss */
  .menu__list {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
  }

  /* line 347, ../sass/screen.scss */
  .menu__link {
    font-size: 24px;
  }

  /* line 351, ../sass/screen.scss */
  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  /* line 355, ../sass/screen.scss */
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}
/* line 364, ../sass/screen.scss */
.glitch {
  font-size: 175px;
  width: 375px;
  margin: 0px 50vw 0 auto;
  position: relative;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@keyframes noise-anim {
  0% {
    clip: rect(199px, 9999px, 89px, 0);
  }
  5% {
    clip: rect(107px, 9999px, 83px, 0);
  }
  10% {
    clip: rect(139px, 9999px, 177px, 0);
  }
  15% {
    clip: rect(108px, 9999px, 139px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 4px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 86px, 0);
  }
  30% {
    clip: rect(178px, 9999px, 198px, 0);
  }
  35% {
    clip: rect(169px, 9999px, 120px, 0);
  }
  40% {
    clip: rect(173px, 9999px, 107px, 0);
  }
  45% {
    clip: rect(56px, 9999px, 87px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 47px, 0);
  }
  55% {
    clip: rect(33px, 9999px, 99px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 60px, 0);
  }
  65% {
    clip: rect(103px, 9999px, 80px, 0);
  }
  70% {
    clip: rect(151px, 9999px, 103px, 0);
  }
  75% {
    clip: rect(46px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(194px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(194px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(133px, 9999px, 194px, 0);
  }
  95% {
    clip: rect(166px, 9999px, 62px, 0);
  }
  100% {
    clip: rect(169px, 9999px, 92px, 0);
  }
}
/* line 382, ../sass/screen.scss */
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  text-shadow: -1px 0 blue;
  top: 0;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(8px, 9999px, 197px, 0);
  }
  5% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(13px, 9999px, 91px, 0);
  }
  15% {
    clip: rect(2px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(191px, 9999px, 11px, 0);
  }
  25% {
    clip: rect(115px, 9999px, 54px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 52px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 39px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 41px, 0);
  }
  45% {
    clip: rect(189px, 9999px, 157px, 0);
  }
  50% {
    clip: rect(122px, 9999px, 104px, 0);
  }
  55% {
    clip: rect(169px, 9999px, 49px, 0);
  }
  60% {
    clip: rect(189px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 87px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(152px, 9999px, 37px, 0);
  }
  80% {
    clip: rect(58px, 9999px, 137px, 0);
  }
  85% {
    clip: rect(75px, 9999px, 131px, 0);
  }
  90% {
    clip: rect(65px, 9999px, 187px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 31px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 4px, 0);
  }
}
/* line 405, ../sass/screen.scss */
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -4px;
  text-shadow: 1px 0 red;
  top: 0;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@media screen and (max-width: 768px) {
  /* line 421, ../sass/screen.scss */
  .glitch {
    font-size: 80px;
    width: 350px;
    margin: 0 auto;
  }

  /* line 427, ../sass/screen.scss */
  .navbar-default {
    display: none;
  }

  /* line 431, ../sass/screen.scss */
  .cust-quotes blockquote p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 325px) {
  /* line 437, ../sass/screen.scss */
  .glitch {
    font-size: 75px;
    width: 350px;
    margin: 0 auto;
  }
}
/* line 444, ../sass/screen.scss */
.smalltext {
  padding-right: 10px;
  font-size: 1.5em;
}

/* horizontal */
/* line 450, ../sass/screen.scss */
.horizontal {
  width: 287px;
  position: relative;
  overflow: hidden;
}

/* line 455, ../sass/screen.scss */
.horizontal .items {
  width: 1148px;
  -webkit-animation: hscroll 20s infinite;
  -moz-animation: hscroll 20s infinite;
  -ms-animation: hscroll 20s infinite;
  animation: hscroll 20s infinite;
}

/* line 462, ../sass/screen.scss */
.horizontal .item {
  margin: 0;
  float: left;
  width: 287px;
}

/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
 */
@-webkit-keyframes hscroll {
  0%, 18.75% {
    margin-left: 0;
  }
  25%, 43.75% {
    margin-left: -287px;
  }
  50%, 68.75% {
    margin-left: -574px;
  }
  75%, 93.75% {
    margin-left: -861px;
  }
  100% {
    margin-left: 0;
  }
}
@-moz-keyframes hscroll {
  0%, 18.75% {
    margin-left: 0;
  }
  25%, 43.75% {
    margin-left: -287px;
  }
  50%, 68.75% {
    margin-left: -574px;
  }
  75%, 93.75% {
    margin-left: -861px;
  }
  100% {
    margin-left: 0;
  }
}
@-ms-keyframes hscroll {
  0%, 18.75% {
    margin-left: 0;
  }
  25%, 43.75% {
    margin-left: -287px;
  }
  50%, 68.75% {
    margin-left: -574px;
  }
  75%, 93.75% {
    margin-left: -861px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes hscroll {
  0%, 18.75% {
    margin-left: 0;
  }
  25%, 43.75% {
    margin-left: -287px;
  }
  50%, 68.75% {
    margin-left: -574px;
  }
  75%, 93.75% {
    margin-left: -861px;
  }
  100% {
    margin-left: 0;
  }
}
/* line 500, ../sass/screen.scss */
#event-photos .carousel-inner {
  height: 500px;
}

/* line 504, ../sass/screen.scss */
#event-photos .carousel-inner img {
  position: relative;
  top: 50%;
  transform: translateY(-25%);
}
